<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap uap3">

  <Identity
    Name="30962Polycode.NostalgicPlayer"
    Publisher="CN=B6E84ED3-AAD4-4A82-944E-44326616FC3A"
    Version="1.1.0.0" />

  <Properties>
    <DisplayName>NostalgicPlayer</DisplayName>
    <PublisherDisplayName>Polycode</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="NostalgicPlayer"
        Description="Modules are relatively small files which contains various sound samples and information on how they should be played. This way of making music goes a long way back, and even at the time of the Commodore 64 the concept was used. But it was on the Amiga computer it really started off. The original type of modules were made with a program called SoundTracker, but since then a lot of different module types have shown up, all of them offering different features - such as more sound channels, more samples, realtime echo and so on. NostalgicPlayer is a program that can play these modules. NostalgicPlayer is a Windows version of the APlayer, which was started on the Amiga computer back in 1993, later continued on BeOS, and was a reaction to the lack of good module players for the Amiga."
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="NostalgicPlayer">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="samplefile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/wav">.wav</uap:FileType>
              <uap:FileType ContentType="audio/x-8svx">.8svx</uap:FileType>
              <uap:FileType ContentType="audio/x-8svx">.iff</uap:FileType>
              <uap:FileType ContentType="audio/x-16sv">.16sv</uap:FileType>
              <uap:FileType ContentType="audio/aiff">.aiff</uap:FileType>
              <uap:FileType ContentType="audio/aiff">.aif</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Audio file</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="listfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="text/x-npml">.npml</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>NostalgicPlayer list file</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="modfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-mod">.mod</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Sound/Noise/ProTracker</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mtmfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-mtm">.mtm</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>MultiTracker</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="jamfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-jam">.jam</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>JamCracker</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="fcfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-fc">.fc</uap:FileType>
              <uap:FileType ContentType="audio/x-fc">.fc14</uap:FileType>
              <uap:FileType ContentType="audio/x-fc">.fc13</uap:FileType>
              <uap:FileType ContentType="audio/x-fc">.smod</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Future Composer</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="unifile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-uni">.uni</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>MikMod UniMod</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="xmfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-xm">.xm</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>FastTracker 2</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="669file">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-669">.669</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Composer/Unis 669</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="amffile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-amf">.amf</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>DSMI / Asylum</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="dsmfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-dsm">.dsm</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>DSIK</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="farfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-far">.far</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Farandole Composer</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="gdmfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-gdm">.gdm</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>General DigiMusic</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="imffile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-imf">.imf</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Imago Orpheus</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="stmfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-stm">.stm</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Scream Tracker 2</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="s3mfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-s3m">.s3m</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Scream Tracker 3</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="stxfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-stx">.stx</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>STMIK</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ultfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-ult">.ult</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>UltraTracker</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="itfile">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-it">.it</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Impulse Tracker</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
  </Capabilities>
</Package>
