name: Build with Release configuration
on: push

jobs:
  Build_Release:
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: [ '8.0.x' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: 'true'
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore Source\NostalgicPlayer.sln
      - name: Build
        run: dotnet build Source\NostalgicPlayer.sln --configuration Release -p:Platform="Any CPU" --no-restore
