name: Run unit test for LibSidPlayFp
on:
  workflow_dispatch:
  push:
    paths:
      - '**/LibSidPlayFp/**'
      - '**/LibSidPlayFp.Test/**'
      - '**/LibReSidFp/**'

jobs:
  Test:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          lfs: 'true'
      - name: Checkout VICE-testprogs
        uses: actions/checkout@master
        with:
          repository: libsidplayfp/VICE-testprogs
          lfs: 'true'
          path: ./Source/Ports/Tests/LibSidPlayFp.Test/Vice/VICE-testprogs
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2
      - name: Setup NuGet
        uses: nuget/setup-nuget@v2
      - name: Install dependencies
        run: nuget restore Source\NostalgicPlayer.sln
      - name: Build
        run: msbuild Source\NostalgicPlayer.sln -t:rebuild -property:configuration="Debug" -property:Platform="Any CPU" -property:CI="CI"
      - name: Test
        run: dotnet test Source\Ports\Tests\LibSidPlayFp.Test\LibSidPlayFp.Test.csproj --no-build --verbosity normal
